<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>control pannel</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
body{
    padding: auto;
    font-family: sans-serif;
}
.container{
    background-color:DodgerBlue;
    margin: 100px;
    padding: 100px;
}
.first{
    padding: 10px;
    padding: 25px 100px 12px 100px;
}
.second{

    padding: 5px 13px 5px 13px;
}
.btn{
    padding: 10px
}
a{
    background-color: cornsilk;
    padding: 40px 100px 40px 100px;
    color: black;
    width: 100px;


}
a:hover{
    text-decoration: none;
    background-color: rgb(162, 235, 210);
    color: black;
}

</style>
</head>
<body>
	<h2>control Panel</h2>
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6">
				<button type="button " class="btn btn-block"><a class="first" href="#">Land Slide</a></button>
				<button type="button" class="btn"><a class="second" style="background-color: rgb(113, 238, 113);color:red" href="/prog">Simulation</a></button>
				<button type="button" class="btn "> <a class="second" href="#">Physical sensors</a></button>
			</div>
			<div class="col-sm 6">
				<button type="button" class="btn"> <a href="#">AD/ADAS</a></button>
			</div>
		</div><br><br><br>
		<div class="row">
			<div class="col-sm 6">
				<button type="button" class="btn"> <a href="#">Rolling Stock</a></button>
			</div>
			<div class="col-sm 6">
				<button type="button" class="btn"><a href="#">Passenger</a></button>
			</div>
		</div>
	</div>
</body>
</html>
