<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body style="background-image:url('static/images/home.jpg');background-repeat:norepeat;background-size:cover;background-attachment:fixed;margin:auto;paddind:auto">
	<!--header class="intro-header" style="background-image:url('static/images/train2.jpg')"-->
	<div class="container">
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
                <div class="row">
                        <div class="col-sm-4">
				<a  href="http://3.112.229.65:3000/d/LxW5sLF7z/landslide-prediction?orgId=1&from=now-30m&to=now&refresh=5s&kiosk=tv"><img src="{{user_image1}}" alt="no" style="width:70%;"></a>
				</div>
                        <div class="col-sm-4">
                                <a  href="https://share.streamlit.io/satikurup/trackdefect/main/app.py"><img src="{{user_image2}}" alt="no" style="width:70%;"></a>
		


                        </div>
                        <div class="col-sm-4">
                                <a  href="http://3.112.229.65:3000/d/HHeLKPdnk/rolling-stock-condition-monitoring?orgId=1&from=now-15m&to=now&refresh=5s&kiosk=tv"><img src="{{user_image3}}" alt="no" style="width:70%;"></a>

			</div>
		</div>
		      
		        <br><br>
			<div class="row">
				<div class="col-sm-4">
                                <a  href="http://3.112.229.65:3000/d/tC8qtf5nz/videoplugin?orgId=1&kios"><img src="{{user_image4}}" alt="no" style="width:70%;"></a>
			

			</div>
			<div class="col-sm-4">
                                <a  href="https://share.streamlit.io/satikurup/raildomainsolution/main/app.py"><img src="{{user_image5}}" alt="no" style="width:70%;"></a>
			</div>
                        </div>
			<div class="row">
				<div class="col-sm-6">
				</div>
			</div>


		
		
		




             

</body>
</html>
